.button {
    height: 37px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #3369F3;
    border-radius: 8px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 13px;
}