.__heading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #1E1E1E;
    height: 20px;
    min-width: 50px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
}
